html {
    font-family: "Roboto";
    background-color: #80808029;
}

body {
    margin: 0;
}

header {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*margin-left: 15%;
    margin-right: 15%;*/
}

.header .header-item {
    height:100%;
    width:100%;
    text-align: center;
    text-decoration: none;
    background-color: #5546b7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .header-item:hover {
    background-color: #8a7bec;
    color:white;
}

.feed-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    //background-color: #80808029;
    height: 100%;

    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 8px;

}

.feed-card {
    background-color: white;
    display: flex;
    flex-direction: row;
    width:500px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    padding-bottom: 5px;
    margin-top: 6px;
    padding-left: 4px;
    padding-top: 4px;
}

.feed-card-img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
}

.feed-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.feed-card-body {
    width:83%;
    padding-left:4px;

    display: flex;
    flex-direction: column;
}

.feed-user-details-time {
    font-weight: 500;
    font-style: italic;
    color: darkgrey;
    font-size: 13px;
}

.feed-user-details-name {
    font-size: 19px;
    font-weight: 900;
}

.feed-user-text {
    padding-right: 2px;
}

.feed-user-img {
    display: flex;
    width: inherit;
}

.post-button {
    position: fixed;
    z-index: 900;
    border-radius:100%;
    border:0;
    margin:0;
    right:46px;
    bottom:21px;
}

.feed-interaction {
    display: flex;
}

.feed-interaction button {
    border: 0;
    margin:0;
    width:100%;
    background-color: inherit;
}

.site-btn {
    border: none;
    background-color: #5546b7;
    color: white;
    font-size: 18px;
    padding: 0.8em;
}

.site-btn-block {
    width:100%;
}

.post-feed-input {
    width:70%;
    border: none;
    height: inherit;
    padding-left:3px;
    font-size: 18px;
}

.post-feed {
    padding: 4px;
    width: 500px;
    height: 50px;
    display: flex;
}

.post-feed button {
    width: 30%;
}

.post-feed-modal {
    z-index:9002;
    width:500px;
    //height:100%;
    //top:11%;
    //bottom: 0;
    //right: 0;
    //left: 31%;
    background-color: white;
    position: fixed;
}

.post-feed-modal-cnt {
    visibility: none;
    z-index:9000;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-feed-modal-backdrop {
    background-color: black;
    opacity: 0.2;
    width:100%;
    height:100%;
    z-index:9001;
    top:0;
}

.post-feed-modal-cnt-close {
    display: none;
}

.post-feed-modal textarea {
    width: 100%;
    height: 84px;
    border: none;
    border-bottom-color: gray;
}

.post-feed-modal-profile {
    display:flex;
    width:inherit;
    margin-top:4px;
}

.post-feed-modal-img {
    width: 17%;
    border-radius: 50%;
}

.post-feed-modal-name {
    width: 70%;
}

.post-feed-modal-body {
    margin-top:4px;
}

.post-feed-modal-icons {
    width:100%;
}


.post-feed-modal-backdrop-close {
    display:none;
}

.post-feed-modal-icons i {
    width: 10%;
}

.post-feed-modal-header {
    background-color: #5546b7;
    height: 48px;
    width:100%;
}

.post-feed-modal-close {
    display: none;
}

.float-btn {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    left: 85%;
    bottom: 40%;
    position: fixed;
    text-align: center;
}

.profile {
    color: white;
    height: 300px;
    /*width: 70.7%;*/
    width: 500px;
    position: relative;
}

.profile-img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 70px;
    left: 8%;
    box-sizing: border-box;
}

.profile-img img { 
    width: inherit;
    height: inherit;
    border-radius: 50%;
    border:4px solid white;
    vertical-align: middle;
}

.profile-top {
    padding: 20px;
    height: 88px;
    background-color: #5546b7;
    background-image: url("file:///C:/my%20phone%20files/Images/IMG00361-20130510-2027.jpg");
}

.profile-bottom {
    height: 50px;
    background-color: white;
    padding:27px;
}

@media(max-width: 500px) {
    .feed-card {
        width: 100%;
    }
    .header {
        margin:0;
    }
    body {
        width: inherit;
    }
    .post-feed {
        width: 100%;
    }
    .post-feed-modal {
        width:100%;
        top: 0;
        left:0;
        height: 100%;
    }
    .profile {
        width: 100%;
    }
    .feed-container {
        margin: 0;
    }
}
